<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" routerLink="/principal" routerLinkActive="active">LOGIN SIMPLE</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/principal" routerLinkActive="active">PRINCIPAL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/servicios" routerLinkActive="active">SERVICIOS</a>
        </li>
        <li class="nav-item" *ngIf="authService.loggedIn()">
          <a class="nav-link active" aria-current="page" routerLink="/dash" routerLinkActive="active">DASH</a>
        </li>
        <li class="nav-item" *ngIf="authService.loggedIn()">
          <a class="nav-link active" aria-current="page" routerLink="/normativa" routerLinkActive="active">NORMATIVA</a>
        </li>
        <li class="nav-item" *ngIf="authService.loggedIn()">
          <a class="nav-link active" aria-current="page" routerLink="/noticias" routerLinkActive="active">NOTICIAS</a>
        </li>
        <li class="nav-item" *ngIf="authService.isAdmin()">
          <a class="nav-link active" aria-current="page" routerLink="/registro" routerLinkActive="active">REGISTRO</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/login" routerLinkActive="active">LOGIN</a>
          </li>
        </ng-container>
        <ng-template #loggedIn>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="logout()">LOGOUT</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
